[project]
	description = Clojure helper libraries for interfacing with REST servers and subprocesses
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sean Toner (rarebreed)
[access "refs/for/refs/*"]
	read = group user/Sean Toner (rarebreed)
	push = group user/Sean Toner (rarebreed)
	label-Code-Review = -2..+2 group user/Sean Toner (rarebreed)
	label-Verified = -1..+1 group user/Sean Toner (rarebreed)
	rebase = group user/Sean Toner (rarebreed)
	removeReviewer = group user/Sean Toner (rarebreed)
	submit = group user/Sean Toner (rarebreed)
[access "refs/heads/*"]
	read = group user/Sean Toner (rarebreed)
	create = group user/Sean Toner (rarebreed)
	push = +force group user/Sean Toner (rarebreed)
	pushMerge = group user/Sean Toner (rarebreed)
[access "refs/tags/*"]
	push = +force group user/Sean Toner (rarebreed)
	pushTag = group user/Sean Toner (rarebreed)
	pushSignedTag = group user/Sean Toner (rarebreed)
